.container {
  background-color: #fff;
  box-shadow: 0 0 25px #999;
}

.content {
  padding: 0 30px;
}

.header {
  background-color: #474949;
  margin: 0;
  padding: 30px 30px 0 30px;
  height: 200px;
}

.header a {
  color: #fff;
}

.header a:hover {
  text-decoration: none;
}

.header #header-logo {
  width: 200px;
  margin: -15px 0 10px 0;
}

.header .logo-text {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}

.header .navigation {
  margin-top: 7px;
}

.header .navigation li {
  padding: 0 10px;
}

.hero-banner {
	display: block;
	margin: -90px auto 0 auto;
	box-shadow: 0 0 18px #474949;
}

.footer {
  margin-top: 50px;
}

.footer #footer-logo {
  width: 100%;
}

.post-large h3 {
	margin-top: 5px;
}

.post-small {
	margin-bottom: 10px;
}

.post-small h4 {
	margin-top: 0;
}

.post-small a {
  color: #000;
}

.post-small a:hover {
  color: #428BCA;
  text-decoration:none;
}

.post-details p {
	margin: 40px 0 5px 0;
}

.post-details h2 {
	margin-top: 0;
}

.team-small {
  margin-top: 7px;
}

.team-small h4 {
  margin-top: 0;
}

.large-post-img {
  border-radius: 7px;
  box-shadow: 0 0 8px #999;
  width: 100%;
}

.small-post-img {
	border-radius: 5px;
	box-shadow: 0 0 6px #999;
	width: 100%;
	vertical-align: center;
}

.large-project-img {
	border-radius: 6px;
	box-shadow: 0 0 7px #999;
	width: 100%;
}

.small-project-img {
  border-radius: 4px;
  box-shadow: 0 0 5px #999;
  width: 100%;
}

.small-team-img {
	border-radius: 4px;
	box-shadow: 0 0 5px #999;
	width: 100%;
}

.btn-primary {
	margin-top: 15px;
}

#posts, #projects, #team, #tweet, #video {
	margin-top: 70px;
}

#posts-title, #projects-title, #team-title {
  margin-top: 40px;
}

#tweet {
  background-color: #428BCA;
}

#video-img {
  width: 100%;
}

#posts .tags {
	margin-top: 8px;
}

.table-wrap {
  display: table;
}

.vert-mid {
  display: table-cell;
  vertical-align: middle;
}

.project-row {
  margin-bottom: 20px;
}

.project-row h3 a {
	color:#000;
}

.project-row h3 a:hover {
	color: #428BCA;
	text-decoration: none;
}

.serif {
  font-family: Georgia, "Times New Roman";
}

.quote {
  width: 20px;
  margin: 0 3px 0 0;
}

.small-icon {
  width: 15px;
  margin-right: 6px;
  margin-bottom: 2px;
}

blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  color: #474949;
}

.tweet {
  width: 400px;
  margin: 50px auto;
}

.tweet blockquote {
  border: none;
}

.tweet blockquote p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

.tweet blockquote p a {
  color: #85bfef;
  font-weight: 700;
}

.tweet blockquote p a:hover {
  color: #fff;
  text-decoration: none;
}

.tweet .bird {
  width: 50px;
  float: left;
  margin-top: 5px;

}

.item-list li{
  padding: 10px 10px 0;
  box-shadow: 0 0 4px #999;
  border-radius: 5px;
}

.item-list li .lead {
  margin-bottom: 12px;
}

.item-list li a.lead {
  color: #000;
}

.item-list li a.lead:hover {
  color: #428BCA;
  text-decoration: none;
}

.bottom-margin-sm {
  margin-bottom: 20px;
}

.bottom-margin-med {
  margin-top: 50px;
}

.bottom-margin-lg {
  margin-top: 80px;
}

.top-margin-sm {
	margin-top: 20px;
}

.top-margin-med {
  margin-top: 50px;
}

.top-margin-lg {
	margin-top: 80px;
}

.top-border {
	border-top: 1px solid #EAEAEA;
}

.bottom-border {
  border-bottom: 1px solid #EAEAEA;
}
