#logo {
  width: 200px;
  margin-top: -19px;
}

.logo-text {
  display: inline-block;
  color: #000;
  margin-left: 10px;
}

#nav {
  margin-top: 7px;
}

.large-post-img {
  border-radius: 7px;
  box-shadow: 0 0 8px #999;
  width: 225px;
}