body {
  
}

.container {
  background-color: #fff;
  box-shadow: 0 0 25px #999;
}

.content {
  padding: 0 30px;
}

.header {
  background-color: #474949;
  margin: 0;
  padding: 30px 30px 45px 30px;
}

.header a {
  color: #fff;
}

.header a:hover {
  text-decoration: none;
}

#logo {
  width: 200px;
  margin: -15px 0 10px 0;
}

.logo-text {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}

#nav {
  margin-top: 7px;
}

.post-large h3 {
	margin-top: 5px;
}

.post-small {
	margin-bottom: 10px;
}

.post-small h4 {
	margin-top: 0;
}

.post-small a {
  color: #000;
}

.post-small a:hover {
  color: #428BCA;
  text-decoration:none;
}

.team-small {
  margin-top: 7px;
}

.team-small h4 {
  margin-top: 0;
}

.large-post-img {
  border-radius: 7px;
  box-shadow: 0 0 8px #999;
  width: 100%;
}

.small-post-img {
	border-radius: 5px;
	box-shadow: 0 0 6px #999;
	width: 100%;
	vertical-align: center;
}

.large-project-img {
	border-radius: 6px;
	box-shadow: 0 0 7px #999;
	width: 100%;
}

.small-team-img {
	border-radius: 4px;
	box-shadow: 0 0 5px #999;
	width: 100%;
}

.btn-primary {
	margin-top: 21px;
}

#posts, #projects, #team, #tweet, #video {
	margin-top: 70px;
}

#posts-title, #projects-title, #team-title {
  margin-top: 40px;
}

#tweet {
  background-color: #428BCA;
}

#video-img {
  width: 100%;
}

#posts .tags {
	margin-top: 8px;
}

.table-wrap {
  display: table;
}

.vert-mid {
  display: table-cell;
  vertical-align: middle;
}

.project-row {
  margin-bottom: 20px;
}

.serif {
  font-family: Georgia, "Times New Roman";
}

.quote {
  width: 20px;
  margin: 0 3px 0 0;
}

.tweet {
  width: 400px;
  margin: 50px auto;
}

.tweet blockquote {
  border: none;
}

.tweet blockquote p {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

.tweet blockquote p a {
  color: #85bfef;
  font-weight: 700;
}

.tweet blockquote p a:hover {
  color: #fff;
  text-decoration: none;
}

.bottom-margin {
  margin-bottom: 30px;
}
